@model eComStore.Model.ViewModels.ProductViewModel

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />
    <div class="row">
        <div class="col-lg-8 p-4 order-1 order-lg-0">
            <h2 class="text-primary text-center text-lg-start">@(Model.Product.Id != 0 ? "Edit" : "Create") Product</h2>
        </div>
        <div class="col-lg-4 p-4 order-0 order-lg-1  d-flex justify-content-end">
            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-dark rounded-3 w-100">
                Back to List
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">

                @*<div asp-validation-summary="All"></div>*@

                <div class="mb-3 col-6">
                    <label asp-for="Product.CategoryId">Category</label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Title"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Description"></label>
                    <textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.ISBN"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Author"></label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.ListPrice"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Price50"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Price100"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>

                @*  <div class="mb-3">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" id="uploadBox" name="file" class="form-control" />
                </div> *@

                <div class="mb-3 col-6">
                    <label asp-for="Product.CoverTypeId">Cover Type</label>
                    <select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-select">
                        <option disabled selected>--Select Cover Type--</option>
                    </select>
                    <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.GenreId">Genre</label>
                    <select asp-for="Product.GenreId" asp-items="@Model.GenreList" class="form-select">
                        <option disabled selected>--Select Cover Type--</option>
                    </select>
                    <span asp-validation-for="Product.GenreId" class="text-danger"></span>
                </div>
                @* <div class="mb-3 col-12">
                <div id="dropzone">
                <div id="preview-container">
                <img src="..." alt="..." />
                <button class="remove-image">&#10006;</button>
                </div>
                <p>Drag & drop your images here or click to browse</p>
                <input type="file" id="fileInput" accept="images/*" multiple />
                </div>
                </div> *@
                <div class="mb-3 col-12">
                    <section class="pb-4">
                        <div class="border rounded-5">
                            <section class="p-4 d-flex justify-content-center w-100">
                                <div class="file-upload-wrapper">
                                    @*  <div class="file-upload has-preview">
                                    <div class="file-upload-message">
                                    <i class="fas fa-cloud-upload-alt file-upload-cloud-icon"></i>
                                    <p class="file-upload-default-message">Drag and drop a file here or click</p>
                                    <p class="file-upload-main-error"></p>
                                    </div>
                                    <div class="file-upload-mask"></div>
                                    <ul class="file-upload-errors"></ul> *@
                                    <input id="dnd-multiple-files" type="file" class="file-upload-input has-multiple" data-mdb-file-upload-init accept multiple="true" />
                                    @* <div class="file-upload-previews">
                                    </div> *@
                                </div>
                        </div>
                    </section>
                </div>
                </section>
            </div>

            <div class="col-12 d-flex justify-content-end">
                @if (Model.Product.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                else
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                }

            </div>
        </div>
    </div>

    @*   <div class="col-2 pt-4">
    <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
    </div> *@

    </div>
</form>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="~/js/images.js"></script>

    <script>


        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
        const options = {
            maxFileSize: Infinity,
            defaultFile: null,
            height: null,
            disabled: false,
            acceptedExtensions: ["jpg", "jpeg", "jpe", "jif", "jfif", "jfi", "png", "gif", "webp", "tiff", "tif", "psd", "raw", "arw", "cr2", "nrw", "k25", "bmp", "dib", "heif", "heic", "ind", "indd", "indt", "jp2", "j2k", "jpf", "jpx", "jpm", "mj2", "svg", "svgz", "eps", "ai", "pdf"],
            multiple: true,
            defaultMsg: 'Drag and drop a file here or click',
            mainError: 'Ooops, something wrong happended.',
            maxSizeError: 'Your file is too big (Max size ~~~)',
            formatError: 'Your file has incorrect file format (correct format(s) ~~~)',
            quantityError: 'Too many files (allowed quantity of files ~~~)',
            previewMsg: 'Drag and drop or click to replace',
            removeBtn: 'Remove',
            disabledRemoveBtn: false,
            maxFileQuantity: Infinity,
        };

       
        const SELECTOR_DATA_INIT = '[data-mdb-file-upload-init]';
        const dndElements = document.querySelectorAll(SELECTOR_DATA_INIT);

        dndElements.forEach(dnd => {
            let instance = FileUpload.getInstance(dnd);
            if (!instance) {
                instance = new FileUpload(dnd, options);
            }
            return instance;
        });

        // $(document).ready(() => {});
    </script>
}