@model IEnumerable<Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-2 col-sm-4 col-xs-4 col-xxs-6 d-flex justify-content-evenly  p-1">
            <div class="card rounded-3">
                <div class="image-body">
                    <div class="image-icon-container p-1">
                        <div class="image-icon rounded-3 p-1">
                            <a asp-action="AddRemoveWishlist" class="image-icon-btn rounded-3 p-1" asp-route-productId="@product.Id">
                                <i class="@(product.InWishList? "fa-solid fa-heart fa-xl" :"fa-regular fa-heart fa-xl")"></i>
                            </a>
                        </div>
                        @* <div class="image-icon rounded-3 p-1">
                            <a class="image-icon-btn rounded-3 p-1">
                                <i class="fa-regular fa-heart fa-xl"></i>
                            </a>
                        </div> *@
                    </div>
                    <img src="@product.ImageUrl.Split(',')[0]" onerror="this.error=null;this.src='\\images\\products\\no-image-found.jpg';" class="card-img-top rounded-3 " />

                </div>
                <div class="card-body">
                    <div class="">
                        <p>
                            <span class="card-title h5 text-primary"><b>@product.Title</b></span> -
                            <span class="card-title text-info"><b>@product.Author</b></span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            <span class="currency">SAR</span>
                            <span class="price"><b>@product.Price.ToString("0.00")</b></span>
                            <span class="list-price"><strike>@product.ListPrice.ToString("0.00")</strike></span>
                            <span class="discount">@product.ListPrice.ToString("00")%</span>
                        </p>
                        <a asp-action="Details" class="card-link" asp-route-productId="@product.Id"></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>